.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

body {
  background: $bg-dark;
  color: $text-color-dark;
}

header {
  h1 {
    @include gradient-text;
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    margin-top: 20px;
  }
}

h2 {
    @include gradient-text;
    background-position: 450px;
  }