$primary-color: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);;
$primary-color--focus: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
$secondary-color: #c01a99;
$secondary-color--focus: #c751ac;

$bg-light: #ffffff;
$bg-dark: linear-gradient(45deg, #003241, #00607d);

$text-color-light: #000000;
$text-color-dark: #ffffff;