.button {
    padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.5s;
    &-primary{
        @extend .button;
        background-image: $primary-color;
        background-size: 1000px;
        background-position: 700px;
        color: $text-color-dark;
    }
    &-primary:hover, &-primary:active, &-primary:focus, &-primary:focus-visible {
        background-position: 1000px;

    }
    &-secondary{
        @extend .button;
        background-color: $secondary-color;
        color: $text-color-dark;
    }
    &-secondary:hover, &-secondary:active, &-secondary:focus, &-secondary:focus-visible {
        background-color: $secondary-color--focus;
    }
}